USE [master]
GO
/****** Object:  Database [TRAVEL_PTUD]    Script Date: 12/06/2012 23:10:07 ******/
CREATE DATABASE [TRAVEL_PTUD] ON  PRIMARY 
( NAME = N'TRAVEL_PTUD', FILENAME = N'D:\soft setup\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TRAVEL_PTUD.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TRAVEL_PTUD_log', FILENAME = N'D:\soft setup\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TRAVEL_PTUD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRAVEL_PTUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRAVEL_PTUD]
GO
/****** Object:  Table [dbo].[TOUR_DICHVU]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR_DICHVU](
	[MATOUR] [int] NOT NULL,
	[MADICHVU] [int] NOT NULL,
	[DELSTAMP] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR_DIADIEM]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR_DIADIEM](
	[MATOUR] [int] NOT NULL,
	[MADIADIEM] [int] NOT NULL,
	[DELSTAMP] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOUR]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOUR](
	[ID] [int] NOT NULL,
	[TENTOUR] [nvarchar](256) NOT NULL,
	[LOAITOUR] [int] NOT NULL,
	[DIEMBATDAU] [int] NOT NULL,
	[NGAYBATDAU] [datetime] NOT NULL,
	[NGAYKETTHUC] [datetime] NOT NULL,
	[BATDAUDANGKY] [datetime] NOT NULL,
	[KETTHUCDANGKY] [datetime] NOT NULL,
	[MOTA] [text] NULL,
	[SOVENGUOILON] [int] NOT NULL,
	[GIANGUOILON] [float] NOT NULL,
	[SOVETREEM] [int] NOT NULL,
	[GIATREEM] [float] NOT NULL,
	[SOVETRENHO] [int] NOT NULL,
	[GIATRENHO] [float] NOT NULL,
	[SOVEEMBE] [int] NOT NULL,
	[GIAEMBE] [float] NOT NULL,
	[GIADAILY] [float] NOT NULL,
	[DONVITIEN] [nchar](3) NOT NULL,
	[VANCHUYEN] [bit] NOT NULL,
	[KHACHSAN] [bit] NOT NULL,
	[MAYBAY] [bit] NOT NULL,
	[TRANGTHAI] [nvarchar](128) NOT NULL,
	[DELSTAMP] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINH]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINH](
	[ID] [int] NOT NULL,
	[TENTINH] [nvarchar](128) NULL,
	[MAQUOCGIA] [int] NOT NULL,
	[TPLON] [bit] NULL,
	[DELSTAMP] [datetime] NOT NULL,
 CONSTRAINT [PK_TINH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHVIEN_TOUR]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHVIEN_TOUR](
	[ID] [int] NOT NULL,
	[MATV] [int] NOT NULL,
	[MATOUR] [int] NOT NULL,
	[SOTIEN] [float] NOT NULL,
	[TIENCOC] [float] NOT NULL,
	[THANHTOAN] [float] NOT NULL,
	[DONVITIEN] [nchar](3) NOT NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_THANHVIEN_TOUR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANNGANHANG]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOANNGANHANG](
	[ID] [int] NOT NULL,
	[MATK] [nchar](10) NOT NULL,
	[TENNGANHANG] [varchar](128) NOT NULL,
	[MAKH] [int] NULL,
	[MANV] [int] NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_TAIKHOANNGANHANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOANDANGNHAP]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANDANGNHAP](
	[ID] [int] NOT NULL,
	[TENDANGNHAP] [nchar](32) NOT NULL,
	[PASSWORD] [nchar](256) NOT NULL,
	[MAKH] [int] NULL,
	[MATV] [int] NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_TAIKHOANDANGNHAP_KH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUOCGIA]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUOCGIA](
	[ID] [int] NOT NULL,
	[TENQUOCGIA] [nvarchar](128) NULL,
	[DELSTAMP] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nchar](1) NOT NULL,
	[DIACHI] [nvarchar](256) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NOISINH] [nvarchar](50) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODIENTHOAI] [nchar](15) NOT NULL,
	[EMAIL] [varchar](256) NULL,
	[ROLE] [int] NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAITOUR]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITOUR](
	[ID] [int] NOT NULL,
	[TENLOAITOUR] [nvarchar](128) NOT NULL,
	[DELSTAMP] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAITHANHVIEN]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHANHVIEN](
	[ID] [int] NOT NULL,
	[TENLOAI] [nvarchar](256) NOT NULL,
	[MUCUUDAI1] [nvarchar](256) NULL,
	[MUCUUDAI2] [nvarchar](256) NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_LOAITHANHVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHSAN]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHSAN](
	[ID] [int] NOT NULL,
	[TEN] [nvarchar](256) NOT NULL,
	[MOTA] [text] NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_KHACHSAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANGTHUONG]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANGTHUONG](
	[ID] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nchar](1) NOT NULL,
	[DIACHI] [nvarchar](256) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NOISINH] [nvarchar](50) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODIENTHOAI] [nchar](15) NOT NULL,
	[EMAIL] [varchar](256) NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_KHACHHANGTHUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANGTHANHVIEN]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANGTHANHVIEN](
	[ID] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nchar](1) NOT NULL,
	[DIACHI] [nvarchar](256) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NOISINH] [nvarchar](50) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODIENTHOAI] [nchar](15) NOT NULL,
	[EMAIL] [varchar](256) NULL,
	[NGAYDANGKY] [datetime] NULL,
	[DIEMTICHLUY] [int] NULL,
	[LOAITHANHVIEN] [int] NULL,
	[DELSTAMP] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG_TOUR]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG_TOUR](
	[ID] [int] NOT NULL,
	[MAKH] [int] NOT NULL,
	[MATOUR] [int] NOT NULL,
	[SOTIEN] [float] NOT NULL,
	[TIENCOC] [float] NOT NULL,
	[THANHTOAN] [float] NOT NULL,
	[DONVITIEN] [nchar](3) NOT NULL,
	[DELSTAMP] [datetime] NULL,
 CONSTRAINT [PK_KHACHHANG_TOUR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HINHANH](
	[ID] [int] NOT NULL,
	[LINK] [varbinary](256) NOT NULL,
	[DIADIEM] [int] NULL,
	[TOUR] [int] NULL,
	[MOTA] [text] NULL,
	[DELSTAMP] [int] NULL,
 CONSTRAINT [PK_HINHANH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[ID] [int] NOT NULL,
	[MOTA] [text] NOT NULL,
	[NHACUNGCAP] [int] NOT NULL,
	[LOAIDICHVU] [int] NOT NULL,
	[DELSTAMP] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM](
	[ID] [int] NOT NULL,
	[TENDIADIEM] [nvarchar](128) NOT NULL,
	[TINH] [int] NOT NULL,
	[DELSTAMP] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDATTOUR_TV]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETDATTOUR_TV](
	[ID] [int] NOT NULL,
	[SOVENGUOILON] [int] NOT NULL,
	[GIATIENNGUOILON] [float] NOT NULL,
	[SOVETREEM] [int] NOT NULL,
	[GIATIENTREEM] [float] NOT NULL,
	[SOVETRENHO] [int] NOT NULL,
	[GIATIENTRENHO] [float] NOT NULL,
	[SOVEEMBE] [int] NOT NULL,
	[GIATIENEMBE] [float] NOT NULL,
	[DONVIETIEN] [nchar](3) NOT NULL,
	[DELSTAMP] [datetime] NULL,
	[CREATESTAMP] [datetime] NOT NULL,
	[CREATEUSER] [varchar](32) NOT NULL,
	[UPDATESTAMP] [datetime] NOT NULL,
	[UPDATEUSER] [varchar](32) NOT NULL,
 CONSTRAINT [PK_CHITIETDATTOUR_TV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETDATTOUR_KH]    Script Date: 12/06/2012 23:10:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETDATTOUR_KH](
	[ID] [int] NOT NULL,
	[SOVENGUOILON] [int] NOT NULL,
	[GIATIENNGUOILON] [float] NOT NULL,
	[SOVETREEM] [int] NOT NULL,
	[GIATIENTREEM] [float] NOT NULL,
	[SOVETRENHO] [int] NOT NULL,
	[GIATIENTRENHO] [float] NOT NULL,
	[SOVEEMBE] [int] NOT NULL,
	[GIATIENEMBE] [float] NOT NULL,
	[DONVIETIEN] [nchar](3) NOT NULL,
	[DELSTAMP] [datetime] NULL,
	[CREATESTAMP] [datetime] NOT NULL,
	[CREATEUSER] [varchar](32) NOT NULL,
	[UPDATESTAMP] [datetime] NOT NULL,
	[UPDATEUSER] [varchar](32) NOT NULL,
 CONSTRAINT [PK_CHITIETDATTOUR_KH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[TOUR_LISTOFTAB_TEST]    Script Date: 12/06/2012 23:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TOUR_LISTOFTAB_TEST] 
	@pnLOAITOUR int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM TOUR;
END
GO
/****** Object:  StoredProcedure [dbo].[TOUR_LISTOFTAB]    Script Date: 12/06/2012 23:10:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TOUR_LISTOFTAB]
	-- Add the parameters for the stored procedure here
	@pnLOAITOUR int
   ,@pdNGAYBATDAU datetime
   ,@pdNGAYKETTHUC datetime
   ,@pnDIEMBATDAU int
   ,@pnOFFSET int -- dung de phan trang
   ,@pnLIMIT int -- dung de phan trang
   ,@pnSORT int -- cac tieu chi sap xep
   ,@pnDIRECT int -- huong sort: 1 la asc, 0 la desc
AS
BEGIN
	-- tim kiem cac tour theo cac tieu chi
	SELECT *
	FROM (
			SELECT t.*
				  ,ROW_NUMBER() OVER(
		  ORDER BY CASE @pnDIRECT WHEN 1 THEN CASE @pnSORT WHEN 1 THEN t.NGAYBATDAU END END ASC -- theo ngay bat dau
				  ,CASE @pnDIRECT WHEN 1 THEN CASE @pnSORT WHEN 2 THEN t.NGAYKETTHUC END END ASC -- theo ngay ket thuc 
				  ,CASE @pnDIRECT WHEN 1 THEN CASE @pnSORT WHEN 3 THEN t.DIEMBATDAU END END ASC -- theo diem bat dau
				  ,CASE @pnDIRECT WHEN 1 THEN CASE @pnSORT WHEN 4 THEN t.ID END END ASC -- theo ID
				  ,CASE @pnDIRECT WHEN 0 THEN CASE @pnSORT WHEN 1 THEN t.NGAYBATDAU END END DESC
				  ,CASE @pnDIRECT WHEN 0 THEN CASE @pnSORT WHEN 2 THEN t.NGAYKETTHUC END END DESC
				  ,CASE @pnDIRECT WHEN 0 THEN CASE @pnSORT WHEN 3 THEN t.DIEMBATDAU END END DESC
				  ,CASE @pnDIRECT WHEN 0 THEN CASE @pnSORT WHEN 4 THEN t.ID END END DESC) AS ROWNUM
			  FROM TOUR t
			 WHERE t.LOAITOUR = CASE @pnLOAITOUR WHEN 0 THEN t.LOAITOUR ELSE @pnLOAITOUR END
			   AND t.NGAYBATDAU = CASE ISNULL(@pdNGAYBATDAU, 0) WHEN 0 THEN t.NGAYBATDAU ELSE @pdNGAYBATDAU END
			   AND t.NGAYKETTHUC = CASE ISNULL(@pdNGAYKETTHUC, 0) WHEN 0 THEN t.NGAYKETTHUC ELSE @pdNGAYKETTHUC END
			   AND t.DIEMBATDAU = CASE @pnDIEMBATDAU WHEN 0 THEN t.DIEMBATDAU ELSE @pnDIEMBATDAU END
			   AND t.KETTHUCDANGKY <= CURRENT_TIMESTAMP -- chon ra nhung tour van con duoc dang ky
			   AND t.DELSTAMP IS NULL ) t
    WHERE t.ROWNUM BETWEEN @pnOFFSET AND @pnLIMIT;
END
GO
